!
service routing protocols model multi-agent
!
hostname {{ hostname }}
!
{% for iface in interfaces if iface.kind in ('p2p', 'loopback') %}
interface {{ iface.name }}
{% if iface.kind == 'p2p' and iface.peer %}
   description p2p to {{ iface.peer.name }} {{ iface.peer.iface | short_iface }}
{% elif iface.description %}
   description {{ iface.description }}
{% endif %}
{% if iface.kind == 'p2p' %}
   no switchport
{% endif %}
{% if iface.ip_address %}
   ip address {{ iface.ip_address }}
{% endif %}
!
{% endfor %}
ip routing
!
router bgp {{ asn }}
   router-id {{ router_id }}
   no bgp default ipv4-unicast
{% for n in neighbors %}
   neighbor {{ n.ip }} remote-as {{ n.asn }}
   neighbor {{ n.ip }} description {{ n.name }}
{% if n.is_fabric %}
   neighbor {{ n.ip }} send-community extended
{% endif %}
{% endfor %}
   !
   address-family evpn
{% for n in neighbors if n.is_fabric %}
      neighbor {{ n.ip }} activate
      neighbor {{ n.ip }} next-hop-unchanged
{% endfor %}
   !
   address-family ipv4
{% for n in neighbors %}
      neighbor {{ n.ip }} activate
{% endfor %}
      network {{ router_id }}/32
!
end
